.contacts {
    text-align: center;
    padding: 40px 0 30px;   
    &-container {
        padding: 20px 0;
        min-height: 500px;
        background-image: url("../images/contact-map.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &__item {
            color: #000;
            text-decoration: none;
            min-height: 250px;
            max-width: 270px;
            width: 100%;
            background-color: #EBF2F8;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: .2s ease-in-out;
            padding: 8px;
            a {
                color: #000;
            }
            img {
                margin-bottom: 10px;
            }
            h6 {
                margin-bottom: 14px;
                font-weight: 600;
            }
            b {
                font-weight: 600;
            }
            &:hover {
                background-color: darken($color: #EBF2F8, $amount: 5);
                color: #000;
            }

        }
    }
}


.requisites {
    text-align: center;
    &-title {
        color: #1A6EC1;
        font-size: 40px;
        font-weight: 600;
    }
    p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1400px) {
    .contacts {
        text-align: center;
        padding: 30px 0 20px;   
        &-container {
            padding: 10px 0;
            min-height: 300px;
            &__item {
                color: #000;
                text-decoration: none;
                min-height: 200px;
                max-width: 250px;
                width: 100%;
                padding: 8px;
                a {
                    color: #000;
                }
                img {
                    margin-bottom: 10px;
                }
                h6 {
                    margin-bottom: 14px;
                    font-weight: 600;
                }
                b {
                    font-weight: 600;
                }
                &:hover {
                    background-color: darken($color: #EBF2F8, $amount: 5);
                    color: #000;
                }
    
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .requisites {
        &-title {
            font-size: 52px;
        }
        p {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 992px) {
    .requisites {
        &-title {
            font-size: 48px;
        }
        p {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 576px) {
    .requisites {
        &-title {
            font-size: 38px;
        }
        p {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 400px) {
    .requisites {
        &-title {
            font-size: 32px;
        }
        p {
            font-size: 15px;
        }
    }
}