.payment {
    padding: 30px 0 20px;
    font-size: 20px;
    font-weight: 400;
    &-title {
        font-size: 30px;
        color: #1761A9;
        font-weight: 600;
    }
    &-item {
        background-image: url("../images/payment-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px 0;
        color: #fff !important;
    }
    &-delivery {
        background-image: url("../images/payment-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px 0;
        color: #fff !important;
    }
    &-blue {
        color: #1A6EC1;
        font-weight: 600;
    }
}

@media screen and (max-width: 1400px) {
    .payment {
        font-size: 18px;
        &-title {
            font-size: 28px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .payment {
        font-size: 16px;
        &-title {
            font-size: 24px;
        }
    }
}
@media screen and (max-width: 992px) {
    .payment {
        font-size: 15px;
        &-title {
            font-size: 20px;
        }
    }
}
@media screen and (max-width: 576px) {
    .payment {
        font-size: 14px;
        &-title {
            font-size: 20px;

        }
    }
}

@media screen and (max-width: 400px) {
    .payment {
        font-size: 14px;
        &-title {
            font-size: 24px;

        }
    }
}